.calendar-month{
  width: 100%;
  height: 100%;
  text-align: center;
  background-color:white;
}
.calendar-header{
    width: 100%;
    height: 100%;
    background-color: rgb(54, 208, 176);
    color: white;
    padding: 0.5rem;
}
.calendar-header .month-select{
  height: 4rem;
}
.calendar-header .current-month{
    font-size: 1.5rem;
    padding:0;
}
.calendar-header .month-select-button{
  font-size: 1rem;
  border: none;
  border-radius: 0;
  background-color: rgb(54, 208, 176);
  color: white;
}
.calendar-header .month-select-button:hover{
  background-color: rgb(74, 228, 196);
  color: white;
}
.days-of-week-row{
  height:3rem;
  margin-bottom: 1rem;
}
.calendar-body{
    width: 100%;
}
.week{
    text-align: center;
    height: 4rem;
}

.calendar-month .current-day{
    background-color: LightGrey;
    color: white;
}
.calendar-month .picked-day{
    background-color: rgb(74, 228, 196);
    color: white;
}
.has-event-picked, .has-event-current, .has-event-others{
    width: 50%;
    min-width: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3rem 0 0.3rem 0;
}
.has-event-picked{
    border-top: 0.4rem solid rgb(74, 228, 196);
    border-bottom: 0.4rem solid white;
}
.has-event-current{
    border-top: 0.4rem solid LightGrey;
    border-bottom: 0.4rem solid white;
}
.has-event-others{
    border-top: 0.4rem solid white;
    border-bottom: 0.4rem solid rgb(74, 228, 196);
}
.not-this-month{
    color: LightGrey;
}

.calendar-month .calendar-body .day:hover{
  color: rgb(74, 228, 196);
  background-color: white;
}

.vertical-center-parent {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.vertical-center-child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
